# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs / editors
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# OS
Thumbs.db

# docs
SOCIAL_LINK_README.md